@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生信息";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width" />
    <link href="~/lib/" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData{"PageTitle"}</title>
</head>
<body>
    @*    <h3>@ViewData{"PageTitle"}</h3>*@
    <div class="card-group">
        @foreach (var i in Model)
        {
            string iconPath = $"~/images/" + (i.Icon ?? "defuser.jpg");
            <div class="card m-3">
                <div class="card-header">
                    <h3 class="card-title">@i.Name</h3>
                </div>
                <img class="card-img-top" src="@iconPath" width="200" height="200" asp-append-version="true"/>
                <div class="card-body text-center">
                    <h5 class="card-title">主修科目：@i.Major</h5>
                </div>
                <div class="card-footer text-center">
                    <a href="/home/info/@i.Id" class="btn btn-primary m-1">查看</a>
                    <a href="#" class="btn btn-primary m-1">编辑</a>
                    <a href="#" class="btn btn-danger m-1">删除</a>
                </div>
            </div>
        }
    </div>
    @*<div class="row justify-content-center m-3">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    学生列表
                </div>
                <div class="card-body text-center">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>名字</th>
                                <th>主修科目</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">返回</a>
                    <a href="#" class="btn btn-primary">编辑</a>
                    <a href="#" class="btn btn-danger">删除</a>
                </div>
            </div>
        </div>
    </div>*@

</body>
</html>